@import '@fontsource/concert-one';
@import '@fontsource/oxygen/300.css';
@import '@fontsource/oxygen/700.css';

:root {
    --color-neutral: rgb(10%, 10%, 10%);
    --color-background: rgb(100%, 100%, 100%);
    --color-accent: rgb(0, 196, 186);
    --color-text: var(--color-neutral);
    --color-text-secondary: rgb(20%, 20%, 20%);
    --color-text-inverse: var(--color-background);

    /* Font scale: https://type-scale.com/. Using Major third (rems) */
    --font-size-0: 0.8rem;
    --font-size-1: 1rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 2rem;
    --font-size-5: 2.5rem;
    --font-size-6: 3rem;

    --breakpoint-sm: 20rem;
    --breakpoint-md: 32rem;
    --breakpoint-lg: 48rem;

    --font-heading: 'Concert One', sans-serif;
    --font-body: 'Oxygen', sans-serif;
    --font-mono: 'Fira Mono', monospace;

    font-family: var(--font-body);
    font-size: var(--font-size-1);
    color: var(--color-text);
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-background);
    background-size: 100vw 100vh;
    font-weight: 400;
}

:where(h1, h2, h3, h4, h5) {
    font-family: var(--font-heading);
    font-weight: 700;
}

:where(h1, h2, h3, h4, h5, p) {
    margin: 0;
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--font-size-4);
}

h2 {
    font-size: var(--font-size-3);
    margin-bottom: 1rem;
}

h3 {
    font-size: var(--font-size-2);
    color: var(--color-text-secondary);
    margin-bottom: 0.125rem;
}

h4 {
    font-size: var(--font-size-1);
}

h5 {
    font-size: var(--font-size-1);
}

a,
a:visited {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-accent);
}

strong {
    font-weight: 700;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}