*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--color-primary: #252525;
	--color-secondary: #fffdf6;
	--color-background: #cbffd3;
	--color-inset: #f0eee6;
	--color-text: var(--color-primary);
	--color-text-inverse: var(--color-secondary);
	--color-border: var(--color-primary);
	--color-shadow: rgba(0, 0, 0, 0.125);

	--spacing-1: 0.25rem;
	--spacing-2: 0.375rem;
	--spacing-3: 0.5rem;
	--spacing-4: 1rem;
	--spacing-5: 1.5rem;
	--spacing-6: 2rem;
	--spacing-7: 3rem;
	--spacing-8: 4rem;

	/* Font scale: https://type-scale.com/. Using Major third (rems) */
	--font-size-0: 0.8rem;
	--font-size-1: 1rem;
	--font-size-2: 1.25rem;
	--font-size-3: 1.5rem;
	--font-size-4: 2rem;
	--font-size-5: 2.5rem;
	--font-size-6: 3rem;
	--font-size-7: 4rem;

	--font-weight-normal: 300;
	--font-weight-bold: 500;

	--border-normal: 1px solid var(--color-border);
	--border-radius-sm: 0.25rem;
	--border-radius-md: 0.5rem;

	--content-max-width: 48rem;

	--font-heading: 'Rubik', sans-serif;
	--font-body: 'Rubik', sans-serif;
	--font-mono: 'VT323', 'Fira Mono', monospace;

	--shadow-outer: 0px 2px 8px 2px var(--color-shadow);
	--shadow-inner: inset 0px 2px 4px var(--color-shadow);

	font-family: var(--font-body);
	font-size: var(--font-size-1);
	color: var(--color-text);
}

html {
	height: 100%;
	background-color: var(--color-primary);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-attachment: fixed;
	background-color: var(--color-primary);
	background-size: 100vw 100vh;
	font-weight: var(--font-weight-normal);
	margin: 0;
}

:where(h1, h2, h3, h4, h5, p, ul, li) {
	margin: 0;
}

:where(h1, h2, h3, h4, h5) {
	font-family: var(--font-heading);
	font-weight: var(--font-weight-normal);
}

h1 {
	font-size: var(--font-size-4);
}

h2 {
	font-size: var(--font-size-3);
	margin-block-end: var(--spacing-3);
	font-weight: var(--font-weight-normal);
}

h3 {
	font-size: var(--font-size-2);
	margin-block-end: var(--spacing-2);
}

h4 {
	font-size: var(--font-size-2);
	margin-block-end: var(--spacing-1);
}

h5 {
	font-size: var(--font-size-1);
	margin-block-end: var(--spacing-1);
}

:where(a, a:visited) {
	font-weight: var(--font-weight-bold);
	color: var(--color-text);
}

strong {
	font-weight: var(--font-weight-bold);
}

p {
	font-size: var(--font-size-2);
	line-height: 1.5;
}

ul {
	font-size: var(--font-size-2);
	padding: 0;
}

li {
	list-style-type: none;
}

:where(input, button) {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

svg {
	fill: var(--color-primary);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}