*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--color-primary: #1e1e2f;
	--color-secondary: #f9f9fc;
	--color-background: #e8e8f0;
	--color-button-primary: var(--color-primary);
	--color-inset: rgba(255, 255, 255, 0.7);
	--color-text: #1e1e2f;
	--color-text-inverse: #ffffff;
	--color-border: #d1d1d6;
	--color-shadow: rgba(0, 0, 0, 0.15);

	--spacing-1: 0.25rem;
	--spacing-2: 0.375rem;
	--spacing-3: 0.5rem;
	--spacing-4: 1rem;
	--spacing-5: 1.5rem;
	--spacing-6: 2rem;
	--spacing-7: 3rem;
	--spacing-8: 4rem;
	--spacing-button-vertical: 0.75rem;
	--spacing-button-horizontal: 2rem;

	/* Font scale: https://type-scale.com/. Using Major third (rems) */
	--font-size-0: 0.8rem;
	--font-size-1: 1rem;
	--font-size-2: 1.25rem;
	--font-size-3: 1.5rem;
	--font-size-4: 2rem;
	--font-size-5: 2.5rem;
	--font-size-6: 3rem;
	--font-size-7: 4rem;
	--font-size-8: 5.5rem;

	--font-weight-normal: 300;
	--font-weight-bold: 500;

	--border-normal: 1px solid var(--color-border);
	--border-radius-sm: 0.25rem;
	--border-radius-md: 0.5rem;

	--content-max-width: 48rem;

	--font-heading: 'Rubik', sans-serif;
	--font-body: 'Rubik', sans-serif;
	--font-mono: 'VT323', monospace;

	--shadow-outer: 0px 6px 12px var(--color-shadow);
	--shadow-inner: inset 0px 2px 4px var(--color-shadow);
	--shadow-text: 0px 2px 1px rgba(0, 0, 0, 0.15);
	--shadow-text-inverse: 0px 2px 1px rgba(255, 255, 255, 0.3);

	font-family: var(--font-body);
	font-size: var(--font-size-1);
	color: var(--color-text);
}

html {
	height: 100%;
	background-color: var(--color-background);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-attachment: fixed;
	background-color: var(--color-background);
	background-size: 100vw 100vh;
	font-weight: var(--font-weight-normal);
	margin: 0;
}

:where(h1, h2, h3, h4, h5, p, ul, li, label) {
	margin: 0;
	filter: drop-shadow(var(--shadow-text));
}

:where(h1, h2, h3, h4, h5) {
	font-family: var(--font-heading);
	font-weight: var(--font-weight-normal);
}

h1 {
	font-size: var(--font-size-5);
}

h2 {
	font-size: var(--font-size-4);
}

h3 {
	font-size: var(--font-size-3);
}

h4 {
	font-size: var(--font-size-2);
}

h5 {
	font-size: var(--font-size-1);
}

:where(a, a:visited) {
	font-weight: var(--font-weight-bold);
	color: var(--color-text);
}

strong {
	font-weight: var(--font-weight-bold);
}

p {
	font-size: var(--font-size-2);
	line-height: 1.5;
}

ul {
	font-size: var(--font-size-2);
	padding: 0;
}

li {
	list-style-type: none;
}

:where(input, textarea) {
	font-size: var(--font-size-2);
	font-family: var(--font-body);
	font-weight: inherit;
	border-radius: var(--border-radius-sm);
	border: var(--border-normal);
	padding: var(--spacing-2);
}

label {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-bold);
}

label+:where(input, textarea):not(:last-child) {
	margin-bottom: var(--spacing-4);
}

label:has(+ :where(input, textarea)) {
	margin-bottom: var(--spacing-1);
}

button:focus:not(:focus-visible) {
	outline: none;
}

svg {
	fill: var(--color-primary);
}

.button-primary {
	background-color: var(--color-button-primary);
	color: var(--color-text-inverse);
	padding: var(--spacing-button-vertical) var(--spacing-button-horizontal);
	border: none;
	border-radius: var(--border-radius-sm);
	font-size: var(--font-size-2);
	box-shadow: var(--shadow-outer);
	transition: background-color 0.2s ease;
	cursor: pointer;
}

.button-primary:hover {
	background-color: color-mix(in hsl, var(--color-button-primary), white 20%);
}

.button-primary>.button-primary-text {
	filter: drop-shadow(var(--shadow-text-inverse));
}

.error {
	color: var(--color-error);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}